* {
    margin: 0;
    background-color: a;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
}
.container1 {
    height: 200px;
     display: flex;
     flex-direction: column;
     margin-top:50px ;
     justify-content: space-between;
}
.left-section, .right-section {
    border: 4px solid #266150;
}
.left-section {
    height: 65vh;
  
    padding: 10px;
    margin-left: 10%;
}
.right-section {
    height: 65vh;
  
    padding: 10px;
    margin-right: 10%;
}

.space {
    height: 30px;;
}
.space2{
    border-right: 4px solid black;
}
#appointInfo {
    color: red;
    font-style: italic;
    position: relative;
    top:20%;
}
.userInput {
    height: 600px;
    border-style: inset;
}

.title.is-2 {
    font-size: 2.5rem;
    margin-top: 20px;
}

input:valid{
    border-color: green;
}

input:invalid{
    border-color: red;
}

#aboutus{
    font-family:Georgia, 'Times New Roman', Times, serif;

}